/*菜单---cwj*/
#menu {
	margin-left: 88px;
	float: left;
}
#containter
{background-image: url(../img/sea.jpg);
	height: 651px;
	width: 1366px;
	background-position: center center;	
	float: left;

}
#containter #footer{
	width: 1366px;
	height: 32px;
	background-color: grey;
	margin-top: 460px;
	float: left;
}

.menuli{
	float: left;
	list-style-type: none;
}

/*菜单---cwj结束*/




/*康洁--开始*/
#seek
{ 
	margin-top:45px;
	margin-left: 88px;
	float: left;
}

#pic
{
	float: left;
}

#search
{
	
	float: left;
	font-size: 25px;
	
}


/*康洁--结束*/

